# VS Code
.vscode/

# Ignore virtual environments
.venv/

# Ignore ruff_cache
.ruff_cache/

# Binary files
/bin
*.sif

# Project files
.nextflow*
.singularity_cache
/databases
/logs
/results
/temp_results
/work
/failed_results
/kraken2_dbs
/abisko_results
/presentations
/kf_raw_data
/report
/merged_results

# Test notebooks
/notebooks

# Password files
.github_password

# Cache files
__pycache__