# VS Code
.vscode/

# Ignore virtual environments
.venv/

# Ignore ruff_cache
.ruff_cache/

# Binary files
/bin
*.sif

# Project files
.nextflow*
.singularity_cache
/databases
/logs
/work
/kraken2_dbs
/abisko_results
/report
/merged_results

# Test notebooks
/notebooks

# Password files
.github_password

# Cache files
__pycache__
abisko.egg-info