# VS Code
.vscode/

# Ignore virtual environments
.venv/

# Ignore ruff_cache
.ruff_cache/

# Binary files
/bin
*.sif

# Project files
.nextflow*
.singularity_cache
/databases
/logs
/results
/temp_results
/work
/failed_results
/kraken2_dbs
/abisko_results
/presentations

# Test notebooks
/notebooks