// Custom Nextflow configuration for nf-core/mag pipeline
// Optimized for paired short reads with taxonomy classification

// 
// PIPELINE PARAMETERS
// 

params {
    // Profile metadata
    config_profile_name        = 'Abisko Soil Metagenomics - Config File'
    config_profile_description = 'This setup is optimized for 250 CPUs and 2TB RAM system with nf-core config settings'

    // Input and output directories
    input       = '/home/inf-21-2024/nbis/samplesheet/sf_top/sf_top_samplesheet.csv'
    outdir      = '/home/inf-21-2024/nbis/results'
    
    //  Input Configuration 
    single_end = false
    coassemble_group = true
    
    //  QC for Short Reads Only 
    clip_tool = 'fastp'
    reads_minlength = 15
    fastp_qualified_quality = 15
    fastp_cut_mean_quality = 15
    skip_longread_qc = true
    skip_adapter_trimming = true
    skip_longread_filtering = true
    
    //  We use only megahit for assembly
    skip_spades = true
    skip_spadeshybrid = true
    skip_megahit = false
    skip_metamdbg = true
    skip_flye = true
    megahit_options = '--presets meta-large'
    megahit_fix_cpu_1 = false
    
    //  Gene Prediction: Prodigal Only 
    skip_prodigal = false
    skip_prokka = true
    skip_metaeuk = true
    
    //  Virus Identification: Skip 
    run_virus_identification = false
    
    //  Binning: MetaBAT2 + MaxBin2 with DAS Tool Refinement 
    skip_binning = false
    skip_metabat2 = false
    skip_maxbin2 = false
    skip_concoct = true
    binning_map_mode = 'group'
    min_contig_size = 1500
    refine_bins_dastool = true
    refine_bins_dastool_threshold = 0.5
    postbinning_input = 'refined_bins_only'
    
    //  Bin Quality Check: BUSCO 
    skip_binqc = false
    binqc_tool = 'busco'
    busco_db_lineage = 'auto'
    busco_clean = true
    save_busco_db = true
    
    //  Taxonomic Classification: GTDB-Tk with Local Database 
    skip_gtdbtk = false
    gtdb_db = '/home/inf-21-2024/nbis/databases/gtdb-tk/gtdbtk_r220_data'
    gtdbtk_min_completeness = 50
    gtdbtk_max_contamination = 10
    gtdbtk_min_perc_aa = 10
    gtdbtk_min_af = 0.65
    gtdbtk_pplacer_cpus = 32
    gtdbtk_pplacer_useram = true
    
    //  Ancient DNA: Skip 
    ancient_dna = false
    skip_ancient_damagecorrection = true
    
    //  Resource Configuration 
    max_cpus = 250
    max_memory = '2000.GB'
    max_time = '240.h'
    
    //  Additional Settings 
    multiqc_title = 'Abisko Soil Metagenomics - nf-core/mag'
}


// CONTAINER CONFIGURATION

// Singularity configuration
singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/home/inf-21-2024/nbis/.singularity_cache'
    runOptions = '--bind /home/inf-21-2024/nbis/databases:/databases'
}

// Process resource configuration
process {
    
    // Default resources for all processes
    cpus = 4
    memory = 16.GB
    time = 4.h
    
    // QC & PREPROCESSING
    withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTQC_RAW' {
        cpus = 4; memory = 8.GB; time = 2.h
    }
    
    withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTP' {
        cpus = 16; memory = 32.GB; time = 4.h
    }

    withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_PHIX_REMOVAL_BUILD' {
        cpus = 8; memory = 16.GB;  time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:BOWTIE2_PHIX_REMOVAL_ALIGN' {
        cpus = 16; memory = 32.GB;  time = 4.h
    }

    withName: 'NFCORE_MAG:MAG:SHORTREAD_PREPROCESSING:FASTQC_TRIMMED' {
        cpus = 4;  memory = 8.GB;  time = 2.h
    }

    // ASSEMBLY
    withName: 'NFCORE_MAG:MAG:ASSEMBLY:SHORTREAD_ASSEMBLY:MEGAHIT' {
        cpus = 64; memory= 400.GB; time = 48.h
    }

    withName: 'NFCORE_MAG:MAG:ASSEMBLY:GUNZIP_SHORTREAD_ASSEMBLIES' {
        cpus = 4; memory = 8.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:QUAST' {
        cpus = 8; memory = 16.GB; time = 2.h
    }

    // GENE PREDICTION
    withName: 'NFCORE_MAG:MAG:PRODIGAL' {
        cpus = 16; memory = 64.GB; time = 12.h
    }

    // BINNING PREPARATION
    withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:SHORTREAD_BINNING_PREPARATION:BOWTIE2_ASSEMBLY_BUILD' {
        cpus = 8; memory = 32.GB; time = 4.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING_PREPARATION:SHORTREAD_BINNING_PREPARATION:BOWTIE2_ASSEMBLY_ALIGN' {
        cpus = 32; memory = 64.GB; time = 8.h
    }

    // BINNING
    withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS_SHORTREAD' {
        cpus = 8; memory = 32.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:CONVERT_DEPTHS' {
        cpus = 4; memory = 16.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:METABAT2_METABAT2' {
        cpus = 16; memory = 64.GB; time = 8.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:MAXBIN2' {
        cpus = 64; memory = 256.GB; time = 12.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:ADJUST_MAXBIN2_EXT' {
        cpus = 2; memory = 8.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:SEQKIT_STATS' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:SPLIT_FASTA' {
        cpus = 4; memory = 16.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING:GUNZIP_BINS' {
        cpus = 2; memory = 4.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING_REFINEMENT:RENAME_PREDASTOOL' {
        cpus = 2; memory = 4.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING_REFINEMENT:DASTOOL_FASTATOCONTIG2BIN_METABAT2' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING_REFINEMENT:DASTOOL_FASTATOCONTIG2BIN_MAXBIN2' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BINNING_REFINEMENT:DASTOOL_DASTOOL' {
        cpus = 16; memory = 32.GB; time = 4.h

    }

    withName: 'NFCORE_MAG:MAG:BINNING_REFINEMENT:RENAME_POSTDASTOOL' {
        cpus = 2; memory = 4.GB; time = 1.h
    }

    // DEPTH ANALYSIS
    withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS' {
        cpus = 8; memory = 16.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS_PLOT' {
        cpus = 4; memory = 8.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:DEPTHS:MAG_DEPTHS_SUMMARY' {
        cpus = 4; memory = 8.GB; time = 2.h
    }

    // BIN QUALITY 
    withName: 'NFCORE_MAG:MAG:BIN_QC:BUSCO_BUSCO' {
        cpus = 16; memory = 64.GB; time = 8.h; errorStrategy = 'ignore'
    }

    withName: 'NFCORE_MAG:MAG:BIN_QC:CONCAT_BINQC_TSV' {
        cpus = 2; memory = 4.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:QUAST_BINS' {
        cpus = 8; memory = 16.GB; time = 2.h
    }

    withName: 'NFCORE_MAG:MAG:QUAST_BINS_SUMMARY' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    // TAXONOMIC CLASSIFICATION

    withName: 'NFCORE_MAG:MAG:GTDBTK:GTDBTK_CLASSIFYWF' {
        cpus = 64; memory = 400.GB; time = 24.h
    }

    withName: 'NFCORE_MAG:MAG:GTDBTK:GTDBTK_SUMMARY' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    withName: 'NFCORE_MAG:MAG:BIN_SUMMARY (1)' {
        cpus = 4; memory = 8.GB; time = 1.h
    }

    // MULTIQC
    withName: 'NFCORE_MAG:MAG:MULTIQC' {
        cpus = 4; memory = 16.GB; time = 2.h
    }


}

// Executor configuration
executor {
    name = 'local'
    cpus = 250
    memory = '2000 GB'
    queueSize = 50  

}

// Pipeline reporting
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}